.registration-message-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration-message-container .content {
    width: 100%;
    padding: 96px;
    background: #242424;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-message-container .content section {
    width: 100%;
    max-width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.message-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.message-box h1 {
    text-align: center;
    margin: 64px 0 32px;
    font-size: 32px;
}

.message-box p {
    text-align: center;
    font-size: 18px;
    line-height: 32px;
}